<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @author.first_name %> <%= @author.last_name %>
</p>

<p>
  <strong>Article:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Order:</strong>
  <%= @writing.order %>
</p>

<p>
  <strong>Created:</strong>
  <%= @writing.created %>
</p>

<%= link_to 'Edit', edit_writing_path(@writing) %> |
<%= link_to 'Back', writings_path %>
